{% extends "back/base.html"%}

<!--新增的样式-会把下面style插槽的内容增加到base.html的style插槽中-->
{% block style %}

{% endblock %}


{% block content %}
<div class="body teacher-profile">
    <div class="settings" id="user_msg_all">

    </div>
</div>
{% endblock %}


{% block script %}
<script>
    $(function () {
//获取本地的token
        let token=JSON.parse(localStorage.getItem('result')).token;
        //console.log(token);

        //根据token请求数据
        if(token){
            $.ajax({
                url:'http://localhost:3020/back/user/api/u_msg_all/'+token,
                type:'get',
                dataType:'json',
                success:function (data) {
                    if(data.status===200){
                        //注入数据
                        let tpl=`

                 <form action="http://localhost:3020/back/user/api/edit" method="post" class="form-horizontal"enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">姓名</label>
                                <div class="col-md-5">

                                    <input type="text"name="real_name" class="form-control input-sm"value="${data.result.real_name ?data.result.real_name :'' }"placeholder="请输入真实姓名"required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">头像</label>
                                <div class="col-md-2 preview">
                                    <img id="image" src="${data.result.icon_url==='undefind' ?'/uploads/'+data.result.icon_url :'./uploads/avatar.png'}" style="border: 1px solid #e0e0e0;">
                                    <input type="file" id="upfile">
                                    <div class="cover">
                                        <i class="fa fa-upload"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">手机号码</label>
                                <div class="col-md-5">
                                    <input type="text" name="phone" id="phone" class="form-control input-sm"value="${data.result.phone ? data.result.phone :''}"required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">Email</label>
                                <div class="col-md-5">
                                    <input type="text"name="e_mail" id="e_mail" class="form-control input-sm"value="${data.result.e_mail ? data.result.e_mail :''}"required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">加入日期</label>
                                <div class="col-md-5">
                                    <input type="date" name="join_time" class="form-control input-sm"value="${data.result.join_time ? data.result.join_time :''}"required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="" class="col-md-3 control-label">自我介绍</label>
                                <div class="col-md-5 ckeditor">
                                    <textarea name="intro_self" placeholder="请用一句话介绍自己" rows="15" class="form-control input-sm"value="${data.result.intro_self ? data.result.intro_self :''}"required>
                                </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">

                                    <input id="btn_save" type="button"class="btn btn-danger pull-right"value="修改信息"/>
                                    <a href="/back/u_reset_pwd" class="btn btn-link btn-success pull-right">修改密码？</a>
                                </div>
                            </div>
                        </form>

                    `;
                        $('#user_msg_all').html(tpl);


                        //修改头像
                        //上传图片处理
                        $('#upfile').on('change', () => {
                            //获取用户上传的图片文件
                            let file = $('#upfile').get(0).files[0];//在缓冲区获取上传的文件  get(0)表示节点的第一个属性，files表示上传的第一个文件
                            //console.log(file);
                            //读取这个文件

                            let reader = new FileReader() //可取查FileReader文档,异步读取
                            if (file) {
                                reader.readAsDataURL(file);
                                //监听文件是否读取完毕
                                reader.onloadend = () => {//文件读取完毕之后会进入此函数
                                    $(' #image').attr('src',reader.result)    //整个过程是：从input缓冲区读取文件，读取过来之后将其赋给img的src

                                }
                            }


                        });

                        //点击提交数据

                        $('#btn_save').on('click',function () {
                            //手机和邮箱验证
                            let $phone=$('#phone'),$e_mail=$('#e_mail');
                            if(/^[1][3,4,5,7,8][0-9]{9}$/.test($phone.val())===false){
                                alert('请输入正确的手机号码');
                                $phone.val('');
                                return;
                            }
                            if(/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/.test($e_mail.val())===false){
                                alert('请输入正确的邮箱');
                                $e_mail.val('');
                                return;
                            }

                            let icon_url=$('#upfile').get(0).files[0]||data.result.icon_url;//如果没有更改图片，把原先的图片地址传过去
                            fdable=new FormData($('form')[0]);
                            fdable.append('token',token);
                            fdable.append('icon_url',icon_url);

                            $.ajax({
                                url:$('form').attr('action'),
                                type:$('form').attr('method'),
                                data:fdable,
                                //防止将数据序列化成字符串
                                processData:false,
                                //不要设置请求头
                                contentType:false,
                                success:function (data) {//此处data是服务器接收到数据后res返回的数据，也就是res.json（）

                                    if(data.status===200){//修改成功
                                        alert(data.result);
                                        //回到原来的页面
                                        window.location.href='/back/u_center';
                                    }else {
                                        alert('用户信息修改失败！');
                                        window.location.href='/back/u_set';
                                    }
                                }
                            });

                            //阻止默认事件（提交表单）
                            return false;



                        })

                    }else {
                        alert('获取用户信息失败')
                    }

                }
            });
        }
        else{
            //删除本地数据 --> 服务器返回的token，在login.html那里序列化后保存的
            localStorage.removeItem('result');
            window.location.href='/back/login';
        }
    })
</script>
{% endblock %}


